MENU_ENABLED=true
NEXT_PUBLIC_MENU_ENABLED=${MENU_ENABLED}

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net
MONGODB_DB_NAME=macarena

RESEND_API_KEY=re_xxxxxxxxxxxxx
RESEND_FROM_EMAIL=Macarena Gelateria <orders@yourdomain.com>

BANK_ACCOUNT_NAME=Macarena Gelateria
BANK_ACCOUNT_CLABE=000000000000000000
BANK_ACCOUNT_REFERENCE=PEDIDO-MACARENA
